@import 'atom';

body {
  width: 60%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

.description {
  display: none;
}

.headline {
  font-size: 28pt;
  color: #1d1f21;
}

.author {
  font-family: 'Inconsolata', ;
  display: inline;
}

h2 a, h3 a, h4 a {
  font-family: 'Inconsolata', ;
  text-decoration: none;
  color: #1d1f21;
}

h2 a:hover, h3 a:hover, h4 a:hover {
  text-decoration: underline;
}

.date {
  font-family: 'Inconsolata', ;
  position: relative;
  top: -10px;
  left: 20px;
  height: 0px;
}

.avatar {
  padding: 4px;
  vertical-align: top;
}
